
  <header>

    <script defer src="/adam.js"></script>

  <body id="body"  >
    <header class="myheader">
      <h1>
        <a style="all: unset;" href="/">WF STAFF</a>
      </h1>
    </header>
    
    