<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WF</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
     <a href="#" class="logo">WF</a>
     <ul>
       <li><a href="/">Home</a><li>
       <li><a href="https://discord.gg/HF2NfhjqAF">Dicsord</a></li>
       <li><a href="https://twitter.com/wfesp1?s=21&t=vBabLJPOOObWVtbiK5bMEA">TWITTER</a></li>
       <li><a href="https://www.instagram.com/wfesp/">INSTAGRAM</a></li>
       <li><a href="#"></a></li>
       <li><a href="#"></a></li>
     </ul>
  </header>
  <section class="banner"></section>
  <script type="text/javascript">
    window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > 0);
    }) 
  </script>
</body>



 