<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />      
    <script defer src="/adam.js"></script>
    <%- include("./partials/header") %>
    
    
  </head>

<% arrArticle.forEach(item => {  %>

  <div id="mydiv">
  
  </div>
  <div class="parent-of-articles">

    <article>
     
  
    <h2> <%= item.titl %> </h2>

    <p> <%= item.summary %>

      <a class="btn" href="/"> </a>  
    </p>
  
  </article>
</div>

<% }); %>



  <div id="mydiv">

  </div>
     
  
  
  <div class="parent-of-articles">



  
    
     
    
  
  </div>
  
  
      
    </body>
  </html>
  
  
  
  </section>
  </main>
  
  <footer>
    <p class="follow">
      
  

      <a style="all: unset;" href=""> Tisns </a>
    </p>
  
     
  
    <p class="design">WFESPORT © 2023</p>
  </footer>
  
  
  
  
  </body>
  </html>