<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>learn css in 1hr</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />
       
    <script defer src="/adam.js"></script>
    <%- include("./partials/header") %>

<main id="main">

<section>
  <h1>
    poste

<form method="post" action="/WFESPORT">

 <label for="title">اسم البوست: </label>
 <input name="title" id="title" type="text" required>

<label for="body">صوره: </label>
 <input name="body" id="body" type="file" required > 

 <label for="summary">تفصيل: </label>
 <textarea name="summary" id="summary" ></textarea>

 <button class="create">send</button>
  

  

</form>


  </h1>
</section>

 </main>   
  </body>
</html>

