<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Website</title>
    <link rel="stylesheet" href="vddd.css">
    <link rel="stylesheet" href="movies.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


  <%- include("./movies-headr/movies") %>


<IFRAME SRC="https://uqload.io/embed-acfq9uph336v.html" FRAMEBORDER=0 MARGINWIDTH=0 MARGINHEIGHT=0 SCROLLING=NO WIDTH=640 HEIGHT=360 allowfullscreen></IFRAME>




<div class="second">

  <div class="latest">

      <h1>حلقات soon</h1>

      <div class="box">

          <div class="card">

              <div class="details">

                  <div class="left">

                      <p class="name">Gajaman</p>
                      <div class="date_quality">
                          <p class="quality">HD</p>
                          <p class="date">2023</p>
                      </div>
                      <p class="category">Animation/Comedy</p>

                      <div class="info">

                          <div class="rate">
                              <i class="fa-solid fa-star"></i>
                              <p>9.2</p>
                          </div>
                          <div class="time">
                              <i class="fa-regular fa-clock"></i>
                              <p>120min</p>
                          </div>

                      </div>

                  </div>

                  <div class="right">

                      <i class="fa-solid fa-play"></i>

                  </div>

              </div>

              <img src="image/gajaman.jpg">

          </div>

          <div class="card">

              <div class="details">

                  <div class="left">

                      <p class="name">Black Panther: Wakanda Forever</p>
                      <div class="date_quality">
                          <p class="quality">HD</p>
                          <p class="date">2022</p>
                      </div>
                      <p class="category">Action/Adventure</p>

                      <div class="info">

                          <div class="rate">
                              <i class="fa-solid fa-star"></i>
                              <p>7.1</p>
                          </div>
                          <div class="time">
                              <i class="fa-regular fa-clock"></i>
                              <p>120min</p>
                          </div>

                      </div>

                  </div>

                  <div class="right">

                      <i class="fa-solid fa-play"></i>

                  </div>

              </div>

              <img src="image/Black_Panther.webp">

          </div>

          <div class="card">

              <div class="details">

                  <div class="left">

                      <p class="name">Interceptor</p>
                      <div class="date_quality">
                          <p class="quality">HD</p>
                          <p class="date">2022</p>
                      </div>
                      <p class="category">Action/Adventure</p>

                      <div class="info">

                          <div class="rate">
                              <i class="fa-solid fa-star"></i>
                              <p>4.6</p>
                          </div>
                          <div class="time">
                              <i class="fa-regular fa-clock"></i>
                              <p>120min</p>
                          </div>

                      </div>

                  </div>

                  <div class="right">

                      <i class="fa-solid fa-play"></i>

                  </div>

              </div>

              <img src="image/Interceptor.jpg">

          </div>

          <div class="card">

              <div class="details">

                  <div class="left">

                      <p class="name">Thor: Love and Thunder</p>
                      <div class="date_quality">
                          <p class="quality">HD</p>
                          <p class="date">2022</p>
                      </div>
                      <p class="category">Action/Adventure</p>

                      <div class="info">

                          <div class="rate">
                              <i class="fa-solid fa-star"></i>
                              <p>6.3</p>
                          </div>
                          <div class="time">
                              <i class="fa-regular fa-clock"></i>
                              <p>120min</p>
                          </div>

                      </div>

                  </div>

                  <div  class="right">

                      <i class="fa-solid fa-play"></i>

                  </div>

              </div>

              <img src="image/Thor.jpg">

          </div>

          <div class="card">

              <div class="details">

                  <div class="left">

                      <p class="name">Black Adam</p>
                      <div class="date_quality">
                          <p class="quality">HD</p>
                          <p class="date">2022</p>
                      </div>
                      <p class="category">Action/Adventure</p>

                      <div class="info">

                          <div class="rate">
                              <i class="fa-solid fa-star"></i>
                              <p>6.4</p>
                          </div>
                          <div class="time">
                              <i class="fa-regular fa-clock"></i>
                              <p>120min</p>
                          </div>

                      </div>

                  </div>

                  <div class="right">

                      <i class="fa-solid fa-play"></i>

                  </div>

              </div>

              <img src="image/Black_Adam.jpg">

          </div>



      </div>

  </div>

</div>
 